name: Run Tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]    

jobs:
  run-unit-test:
    runs-on: ubuntu-latest
    steps:
      - run: echo "We are running tests on this application"
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build and Test
        run: mvn -B clean test




